@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ml-widget-submit-button:focus, .ml-widget-text-box:focus {
    outline: none;
}

.ml-widget-container {
    color: #43484e;
    background-color: white;
    font-weight: 500;
    width: 200px;
    border: 1px solid #edeef0;
    filter: drop-shadow(
        1px 2px 4px hsl(0, 0%, 90%)
    );
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

.ml-widget-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ml-widget-like-button {
    border: none;
    color: #43484e;
    background-color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    cursor: pointer;
}

.ml-widget-dislike-button {
    color: #43484e;
    border: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.ml-widget-description-text {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 16px;
}

.ml-widget-post-submission-text {
    margin-bottom: 0px;
    margin-left: 5px;
    margin-top: 0px;
    font-size: 16px;
}

.ml-widget-feedback-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.ml-widget-text-box {
    border: 1px solid #f0f2f4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    color: #43484e;
    font-weight: 500;
}

.ml-widget-submit-button {
    border: none;
    color: white;
    background-color: #353b41;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.ml-widget-post-submission{
    display: flex; 
    flex-direction: row;
}